[Unit]
Description=FitcamX Video Fetcher
Requires=dhcpcd.service
After=dhcpcd.service
StartLimitBurst=10
StartLimitIntervalSec=120
StartLimitAction=reboot
RequiresMountsFor=/mnt/dashcam-storage

[Service]
Type=exec
Restart=always
RestartSec=10
Environment='CAMERA_SSID=CAR-DJ94228'
Environment='VIDEO_TRANSFER_PATH=/mnt/dashcam-storage'
Environment='NODE_ENV=production'
WorkingDirectory=/opt/rpi-dashcam-cloud-relay
ExecStart=/usr/local/bin/node --no-expose-wasm ./build/fetch-fitcamx.js

[Install]
WantedBy=multi-user.target
