[Unit]
Description=SSH Video Pusher
Requires=NetworkManager.service
After=NetworkManager.service
StartLimitBurst=10
StartLimitIntervalSec=120
StartLimitAction=reboot
RequiresMountsFor=/mnt/dashcam_storage

[Service]
Type=exec
Restart=always
RestartSec=10
Environment='CAMERA_SSID=Polarstjernen'
Environment='VIDEO_TRANSFER_PATH=/mnt/dashcam_storage'
Environment='SSH_HOST=192.168.1.17'
Environment='SSH_USER=ftplogin'
Environment='SSH_KEYPATH=/home/ubuntu/.ssh/id_rsa'
Environment='SSH_PASS=ftplogin'
Environment='SSH_REMOTEPATH=ftp/upload/DC/'
Environment='NODE_ENV=production'
WorkingDirectory=/opt/rpi-dashcam-cloud-relay
ExecStart=/usr/bin/node ./build/push-ssh.js

[Install]
WantedBy=multi-user.target
