[Unit]
Description=GCP Video Pusher
Requires=dhcpcd.service
After=dhcpcd.service
StartLimitBurst=10
StartLimitIntervalSec=120
StartLimitAction=reboot

[Service]
Type=exec
Restart=always
RestartSec=10
Environment='CAMERA_SSID=CAR-DJ94228'
Environment='GOOGLE_BUCKET=allerslev-jorgensen-dashcam-ingest-u90d1r'
Environment='GOOGLE_APPLICATION_CREDENTIALS=/etc/google-serviceaccount.json'
Environment='NODE_ENV=production'
WorkingDirectory=/opt/rpi-dashcam-cloud-relay
ExecStart=/usr/local/bin/node --no-expose-wasm ./build/push-gcp-bucket.js

[Install]
WantedBy=multi-user.target
